<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>

        </h3>
        <img src="" alt="">
        <p>Auteur: </p>
        <p>Nombre de volumes: </p>
        <p>Date création: </p>
        <p>La série est finie: </p>
        <input type="checkbox" name="" id="">
    </div>
</body>
</html>